<div class="container-fluid border">
    <div class="row">
        <div class="col-10 border ">smknaidu
            <form>
                <div class="form-group">
                <label for="uname">username</label>
                <input type="text" id="u_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ename">Email</label>
                    <input type="text" id="e_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="mname">mobile</label>
                    <input type="text" id="m_name" class="form-control">
                   </div>
                   <div class="form-group">
                    <label for="dname">Designation</label>
                    <input type="text" id="d_name" class="form-control">
                   </div>
                   <div class="form-group">
                    <label for="gname">Gender</label>
                    <input type="text" id="g_name" class="form-control">
                   </div>
                   <button class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
